---
import AsidePost from "@components/sidebars/AsidePost.astro";
import PrevPosts from "@components/sidebars/PrevPosts.astro";
import ReadingTime from "@components/sidebars/ReadingTime";
import Post from "@layouts/Post.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
 const allPosts = await getCollection("Bill-W");
 const numberOfPosts = allPosts.length;
 return allPosts
  .sort((a, b) => a.id.length - b.id.length)
  .map((post, i) => ({
   params: { slug: post.slug },
   props: {
    post,
    // Previous post
    prevPost:
     i + 1 === numberOfPosts // If the current post is the oldest
      ? { data: "" }
      : allPosts[i + 1],
    // Next post
    nextPost:
     i === 0 // If the current post is the newest
      ? { data: "" }
      : allPosts[i - 1],
   },
  }));
}
interface Props {
 post: CollectionEntry<"Bill-W">;
}
const { post } = Astro.props;
const { title, desc, img } = post.data;
const { Content } = await post.render();
const { prevPost, nextPost } = Astro.props;
---

<Post
 title={"Лучшие статьи Билла У." + " • " + title + " • " + "Аудио"}
 desc={desc}
 poster={img}
>
 <main class="_content">
  <audio class="w-full my-[20px]" controls src={"/speak-bill-w/" + post.slug + ".mp3"}
  ></audio>

  <div
   title="Панель поста"
   class="mx-[-20px] mb-[20px] rounded-[10px] flex flex-wrap gap-[10px justify-between items-center py-[5px] px-[20px] bg-white lg:gap-[5px]"
  >
   <a href="/aa/luchshie-stati-billa-w/" class="p-[10px] hover:bg-slate-100  rounded-[5px]"
    >🔚 Назад</a
   >
   <ReadingTime client:idle />
  </div>

  <div id="spech-content">
   <Content />
  </div>

  <AsidePost title={title} />
  <PrevPosts {prevPost} {nextPost} link={"Bill-W"} />
 </main>
</Post>
