---
const { link, bg, name, community, type, count,mp } = Astro.props;
---

<a href={link} class="block hover-up">
 <div class={bg + " relative p-[40px] rounded-[40px] h-[380px]"}>
  <span
   class="absolute top-[40px] right-[40px] inline-block text-[12px] font-medium text-right text-white"
   >{community}</span
  >
  <h2 class="text-center font-bold text-[26px] mt-[100px] text-white">
   {name}
  </h2>
  <div class="absolute bottom-[40px]">
   <div
    class="text-[14px] flex items-center px-[14px] py-[8px] text-white rounded-[8px] bg-black/50 gap-[10px]"
   >
    <span>{type}</span>
    <span>•</span>
    <span class="flex items-center">
     <svg
      class="mr-[5px]"
      width="13"
      height="11"
      viewBox="0 0 13 11"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
     >
      <path
       d="M9.28571 10.5601H0V9.13149H9.28571V10.5601ZM12.8571 3.4172H0V4.84577H12.8571V3.4172ZM0 0.560059V1.98863H7.85714V0.560059H0ZM10 0.560059V1.98863H12.8571V0.560059H10ZM5.71429 6.27434V7.70292H12.8571V6.27434H5.71429ZM0 6.27434V7.70292H3.57143V6.27434H0Z"
       fill="white"></path>
     </svg>
     {count}
    </span>
   </div>
  </div>
 </div>
</a>
