---
const post_link = "hover-up rounded-[10px] bg-white  p-[10px]";
---

<div class="mb-[60px] md:mb-[90px]">
 <h3 class="mb-[30px] text-[18px] font-medium">๐ฅ ะะพะฟัะปััะฝัะต</h3>
 <div class="flex flex-wrap gap-[15px]">
  <a href="https://12step.netlify.app/aa/Bill-W/etot-samyj-strah/" class={post_link}>
   ๐ ะญัะพั ัะฐะผัะน ัััะฐั.
  </a>
  <a href="https://12step.netlify.app/aa/dzho-i-charli/11" class={post_link}>
   ๐ ะะฑัะตัะตะฝะธั ะบะฐัะตััะฒ.
  </a>
  <a href="https://12step.netlify.app/aa/dzho-i-charli/19" class={post_link}>
   ๐ ะะตัะฐะตั ะปะธ ะฟัะพะฑะปะตะผั - ะะปะบะพะณะพะปั?
  </a>
  <a href="https://12step.netlify.app/aa/dzho-i-charli/33" class={post_link}>
   ๐ ะะพัะตะผั ะพะฝ ะฒะตะดะตั ัะตะฑั ัะฐะบ?
  </a>
  <a href="https://12step.netlify.app/aa/Bill-W/chto-takoe-prinyatie" class={post_link}>
   ๐ ะงัะพ ัะฐะบะพะต ะฟัะธะฝััะธะต.
  </a>
 </div>
</div>
