---
import { vars } from "@js/vars";
import { getCollection } from "astro:content";

import ArticlePost from "@components/ArticlePost.astro";
import SelectionBB from "@components/SelectionBB.astro";
import Layout from "@layouts/Layout.astro";

const allPosts = await getCollection("dzho-i-charli");
---

<Layout
 title="Изучение БКАА с Джо и Чарли"
 desc="На сегодняшний день, материалы Джо и Чарли являются самыми известными и используемыми в мире материалами по Большой книге."
 poster="posters/dzho-i-charli.png"
>
 <div class={vars.container}>
  <h1 class={vars.text_next}>Изучение БКАА с Джо и Чарли 📖</h1>
  <p class="mb-[10px]">
   На сегодняшний день, материалы Джо и Чарли являются самыми известными и используемыми в
   мире материалами по Большой книге. Эти два алкоголика объездили со своими занятиями по
   изучению Большой книги все 50 штатов США и многие страны мира, где есть АА.
  </p>
  <p class="mb-[20px]">
   Начиная с 1980 года, когда началось массовое распространение их записей, в Содружестве
   АА началась тенденция к возвращению к первоначальному пониманию Программы и работе по
   12 шагам. Было создано большое количество шаговых групп, также появились другие
   12-шаговые Сообщества, основной целью поставившие выздоровление по 12 шагам и помощь
   другим.
  </p>
  <p class="mb-[20px]">📍 Посты с воспроизведением. Чтение займет <b>600 мин.</b> ⌛</p>

  <SelectionBB />

  <h2 class="font-bold text-[22px] mb-[20px]" id="pre">
   📘 Предисловие <span class="text-[18px] font-normal">(11)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "pre")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="doctor">
   📕 Мнение доктора <span class="text-[18px] font-normal">(8)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "doctor")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="bill">
   📔 Рассказ Билла <span class="text-[18px] font-normal">(10)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "bill")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="exit">
   📙 Выход есть <span class="text-[18px] font-normal">(9)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "exit")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="alc">
   🍵 Еще об алкоголизме <span class="text-[18px] font-normal">(6)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "alc")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="agnostic">
   🛕 А как быть агностикам? <span class="text-[18px] font-normal">(7)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "agnostic")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="moving">
   ⛏ Программа в действии <span class="text-[18px] font-normal">(26)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "moving")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="work">
   📗 За работу! <span class="text-[18px] font-normal">(7)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "work")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>

  <h2 class="font-bold text-[22px] my-[40px]" id="12step">
   📖 Работая с другими <span class="text-[18px] font-normal">(4)</span>
  </h2>
  <div
   style="display: grid"
   class="items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]"
  >
   {
    allPosts
     .filter((h) => h.data.head === "12step")
     .sort((a, b) => a.id.length - b.id.length)
     .map((item) => (
      <ArticlePost
       to={"dzho-i-charli"}
       title={item.data.title}
       desc={item.data.desc}
       slug={item.slug}
      />
     ))
   }
  </div>
 </div>
</Layout>
