---
import ArticlePost from "@components/ArticlePost.astro";
import { vars } from "@js/vars";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("Bill-W");
---

<Layout
 title="Лучшие статьи Билл У."
 desc="Лучшие статьи Билла У – это сборник статей, издававшихся в журнале АА «Грейпвайн» в разное время."
 poster="posters/poster-bill.png"
>
 <div class={vars.container}>
  <div class="flex flex-col md:flex-row mb-[20px] items-center">
   <img
    src="/posters/bill.png"
    class="mb-[20px] md:mb-[0px] w-full md:w-[270px] mr-[0px] md:mr-[30px]"
    alt=""
   />
   <div>
    <h1 class={vars.text_next}>Лучшие статьи Билла Уилсона 🗞</h1>
    <p class="mb-[10px]">Из журнала «АА Грейпвайн» 1945 - 1965 гг.</p>
    <p class="mb-[10px]">
     Это сборник статей, издававшихся в журнале АА «Грейпвайн» в разное время.
    </p>
    <p class="mb-[10px]">Посты с озвучкой. Прослушивание займет <b>72 мин.</b> ⌛</p>
   </div>
  </div>
  <div class="grid items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]">
   {
    allPosts
     .sort((a, b) => a.id.length - b.id.length)
     .map((post) => (
      <ArticlePost
       to={"Bill-W"}
       title={post.data.title}
       desc={post.data.desc}
       slug={post.slug}
      />
     ))
   }
  </div>
 </div>
</Layout>
