---
import ArticlePost from "@components/ArticlePost.astro";
import { vars } from "@js/vars";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("young-people");
---

<Layout
 title="Молодежь АА"
 desc="Когда мы пришли в АА, нам все казалось, что мы слишком молоды, чтобы быть алкоголиками. Некоторые из нас не так уж долго пили. Другие не пили крепких напитков. Третьи никогда не валились с ног и не имели провалов памяти."
 poster="posters/poster-young.png"
>
 <div class={vars.container}>
  <div class="flex flex-col md:flex-row mb-[20px] items-center">
   <img
    src="/posters/poster-young.png"
    class="rounded-[10px] mb-[20px] md:mb-[0px] w-full md:w-[270px] mr-[0px] md:mr-[30px]"
    alt="Молодежь АА"
    loading="lazy"
    decoding="async"
    width="1200"
    height="630"
   />
   <div>
    <h1 class={vars.text_next}>Моложедь в АА 🔥</h1>
    <p class="mb-[10px]">
     Приходя в АА молодыми людьми, мы обнаружили, что нам предстоит столкнуться с общими
     трудностями. Вначале мы часто чувствуем себя слишком молодыми, чтобы быть
     алкоголиками.
    </p>
    <p class="mb-[10px]">
     Некоторые из нас пили непродолжительное время, другие не пили крепкие напитки, не
     шатались пьяными и не забывали, что делали или говорили, когда пили.
    </p>
   </div>
  </div>
  <div class="grid items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px]">
   {
    allPosts.map((item) => (
     <ArticlePost
      to={"young-people"}
      title={item.data.title}
      desc={item.data.desc}
      slug={item.slug}
     />
    ))
   }
  </div>
 </div>
 <style>
  p {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
  }
 </style>
</Layout>
