---
import SpechPlayer from "@components/SpechPlayer.astro";
import AsidePost from "@components/sidebars/AsidePost.astro";
import PrevPosts from "@components/sidebars/PrevPosts.astro";
import ReadingTime from "@components/sidebars/ReadingTime";
import Post from "@layouts/Post.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
 const allPosts = await getCollection("young-people");
 const numberOfPosts = allPosts.length;
 return allPosts
  .sort((a, b) => a.data.id.length - b.data.id.length)
  .map((post, i) => ({
   params: { slug: post.slug },
   props: {
    post,
    // Previous post
    prevPost:
     i + 1 === numberOfPosts // If the current post is the oldest
      ? { data: "" }
      : allPosts[i + 1],
    // Next post
    nextPost:
     i === 0 // If the current post is the newest
      ? { data: "" }
      : allPosts[i - 1],
   },
  }));
}
interface Props {
 post: CollectionEntry<"young-people">;
}
const { post } = Astro.props;
const { title, desc, img } = post.data;
const { Content } = await post.render();

// следущие посты в посте
const { prevPost, nextPost } = Astro.props;
---

<Post title={title} desc={desc} poster={img}>
 <main class="_content">
  <div
   title="Панель поста"
   class="mx-[-20px] mb-[20px] rounded-[10px] flex flex-wrap gap-[10px] justify-center lg:justify-between items-center py-[5px] pl-[10px] pr-[5px] bg-white lg:gap-[5px]"
  >
   <a href="/aa/molodezh-aa/" class="p-[10px] hover:bg-slate-100 rounded-[5px]"
    >🔚 Назад</a
   >
   <ReadingTime client:idle />
   <SpechPlayer />
  </div>

  <div id="spech-content">
   <Content />
  </div>

  <AsidePost title={title} />
  <PrevPosts {prevPost} {nextPost} link={"young-people"} />
 </main>
</Post>
